/*
    @reference "reset.css";
*/
body {
    text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
	padding: 0;
    color: #333333;
    background-image: url(../images/bg.gif);
    font-size: 11px;
}
#container {
    text-align: left;
    margin: 10px auto;
    width: 1024px;
}

#header {
	position: relative;
	padding: 6px 0 0 0;
	background: #cc0000;
	color: #ffffff;
	border-bottom: 1px dotted #e3a1a1;
}
#header a {
    float: right;
    padding-right: 10px;
	color: #eeeeee;
}
#header h1 {
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 2.4em;
    font-weight: bold;
}

#menu li {
    display: inline;
    color: #cc0000;
}
#main-menu {
    margin-bottom: 4px;
    font-size: 1.4em;
}
#main-menu li {
    padding: 2px 8px 2px 8px;
    border: 1px solid #d8dcdf; 
    background: #eeeeee url(../images/ui-bg_highlight-hard_100_eeeeee_1x100.png) 50% 50% repeat-x; 
    font-weight: bold; 
    color: #004276;
}
#main-menu li[data-selected|=True] {
    border: 1px solid #eeeeee; 
    border-bottom: 2px solid #ffffff; 
    background: #ffffff url(../images/ui-bg_flat_65_ffffff_40x100.png) 50% 50% repeat-x; 
    font-weight: bold; 
    color: #cc0000;
}
#main-menu li[data-selected|=False]:hover {
    border: 1px solid #cdd5da; 
    background: #f6f6f6 url(../images/ui-bg_highlight-hard_100_f6f6f6_1x100.png) 50% 50% repeat-x; 
    font-weight: bold; 
    color: #111111;
    cursor: pointer;
}
#sub-menu {
    background-color: #ffffff;
    border-top: 1px solid #cc0000;
    padding: 8px 4px 4px 4px;
    font-size: 1.2em;
}
#sub-menu li {
    padding: 5px 8px 2px 8px;
    margin: 0px;
    color: #004276;
}
#sub-menu li[data-selected|=True] {
    color: #cc0000;
    font-weight: bold; 
}
#sub-menu li[data-selected|=False]:hover {
    color: #111111;
    cursor: pointer;
}

#content-main { 
    float: left; 
    width: 760px;
    min-height: 600px;
    background-color: White;
}
#content-right { 
    float: left; 
    width: 264px;
    min-height: 600px;
    max-height: 600px;
    background-color: #fbf8ee;
}
#content-right h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: #004276;
    margin: 20px 10px 10px 10px;
}
#content-right p {
    margin: 0px 10px 10px 10px;
    font-size: 1.1em;
}
#content-right p:first-child {
    margin-top: 20px;
}

#footer {
    min-height: 30px;
    background-color: #fbf8ee;
}
#footer p {
    text-align: center;
    padding-top: 8px;
}

#error-notice {
    font-size: 1.2em;
    padding: 20px;
}
#error-notice h2 {
    font-size: 2em;
}
#error-notice p {
    margin-top: 10px;
}
#error-stack {
    padding: 20px;
    display: none;
}
#error-stack pre {
    margin-top: 10px;
}
#error-filter {
    padding: 20px;
}

.jq-button {
    padding: 4px 12px 4px 20px;
    text-decoration: none;
    position: relative;
    margin: 2px 2px 2px 10px;
    font-size: 1em;
    display: inline-block;
}
.jq-button:hover {
    border: 1px solid #cdd5da; 
    background: #f6f6f6 url(../images/ui-bg_highlight-hard_100_f6f6f6_1x100.png) 50% 50% repeat-x; 
    font-weight: bold; 
    color: #111111;
    cursor: pointer;
    outline: 0 !important;
}
a.jq-button {
    padding-bottom: 6px;
}
p span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
	zoom: 1;
}

.input-validation-error {
    background-color: #FFCCFF;
}
.field-validation-error {
    display: inline;
    color: #FF0000;
}
.validation-summary-errors {
    margin: 10px 0px 0px 10px;
    font-size: 1em;
    font-weight: bold;
    color: Red;
}

.clear { clear: both; }
.clear-right { clear: right; }
.float-left { float: left; }
.float-right { float: right; }