@model List<Enfield.ShopManager.Models.ServiceTypeModel>
           
@foreach (var service in Model)  {
    <div class="service-type task navigable ui-corner-all" data-id="@service.Id.ToString()">
        @service.Description
    </div>
}
