<div id="edit-service-dialog" class="dialog">
    <span id="edit-servicetype-description"></span>
    <fieldset>
        <p>
            <label for="edit-service-rate">Service rate:</label>
            @Html.TextBox("edit-service-rate", null)
        </p>
    </fieldset>
</div>
<div id="edit-labor-dialog" class="dialog">
    <span id="edit-labortype-description"></span>
    <fieldset>
        <p>
            <label for="edit-labor-rate">Labor rate:</label>
            @Html.TextBox("edit-labor-rate", null)
        </p>
    </fieldset>
</div>