USE EnfieldMasterTestBed
GO

-- INSERTS
-- LOOKUP DATA
SET IDENTITY_INSERT [AccountType] ON
INSERT [AccountType] ([AccountTypeId], [Description], [TaxRate], [IsActive], [ModifyUser], [ModifyDate]) VALUES (1, N'DEALER', CAST(0.0000 AS Decimal(6, 4)), 1, N'system', CAST(0x00009BE10077E3B6 AS DateTime))
INSERT [AccountType] ([AccountTypeId], [Description], [TaxRate], [IsActive], [ModifyUser], [ModifyDate]) VALUES (2, N'PRIVATE', CAST(0.0925 AS Decimal(6, 4)), 1, N'system', CAST(0x00009BE10077E3B6 AS DateTime))
SET IDENTITY_INSERT [AccountType] OFF

SET IDENTITY_INSERT [ServiceType] ON
INSERT [ServiceType] ([ServiceTypeId], [Description]) VALUES (3, N'COMPLETE DETAIL')
INSERT [ServiceType] ([ServiceTypeId], [Description]) VALUES (10, N'NEW CAR DETAIL')
INSERT [ServiceType] ([ServiceTypeId], [Description]) VALUES (11, N'PREDELIVERY')
SET IDENTITY_INSERT [ServiceType] OFF

SET IDENTITY_INSERT [Location] ON
INSERT [Location] ([LocationId], [LocationName]) VALUES (1, N'MAIN SHOP')
INSERT [Location] ([LocationId], [LocationName]) VALUES (2, N'DOBBS')
INSERT [Location] ([LocationId], [LocationName]) VALUES (3, N'DOBBS WC')
SET IDENTITY_INSERT [Location] OFF

SET IDENTITY_INSERT [LaborType] ON
INSERT [LaborType] ([LaborTypeId], [Description]) VALUES (1, N'BUFF BAY')
INSERT [LaborType] ([LaborTypeId], [Description]) VALUES (3, N'HAND WASH')
INSERT [LaborType] ([LaborTypeId], [Description]) VALUES (4, N'INTERIORS')
SET IDENTITY_INSERT [LaborType] OFF

SET IDENTITY_INSERT [InvoiceType] ON
INSERT [InvoiceType] ([InvoiceTypeId], [Description]) VALUES (1, N'REGULAR')
INSERT [InvoiceType] ([InvoiceTypeId], [Description]) VALUES (2, N'PREDELIVERY')
SET IDENTITY_INSERT [InvoiceType] OFF

SET IDENTITY_INSERT [ContactType] ON
INSERT [ContactType] ([ContactTypeId], [Description]) VALUES (1, N'HOME PHONE')
INSERT [ContactType] ([ContactTypeId], [Description]) VALUES (2, N'BUSINESS PHONE')
INSERT [ContactType] ([ContactTypeId], [Description]) VALUES (3, N'CELL PHONE')
SET IDENTITY_INSERT [ContactType] OFF

SET IDENTITY_INSERT [AccountTypeService] ON
INSERT [AccountTypeService] ([AccountTypeServiceId], [AccountTypeId], [ServiceTypeId], [DefaultRate], [DefaultEstimatedTime], [IsActive]) VALUES (1, 1, 3, CAST(0.0000 AS Decimal(12, 4)), 0, 1)
INSERT [AccountTypeService] ([AccountTypeServiceId], [AccountTypeId], [ServiceTypeId], [DefaultRate], [DefaultEstimatedTime], [IsActive]) VALUES (15, 1, 17, CAST(0.0000 AS Decimal(12, 4)), 0, 1)
INSERT [AccountTypeService] ([AccountTypeServiceId], [AccountTypeId], [ServiceTypeId], [DefaultRate], [DefaultEstimatedTime], [IsActive]) VALUES (31, 2, 17, CAST(0.0000 AS Decimal(12, 4)), 0, 1)
SET IDENTITY_INSERT [AccountTypeService] OFF

SET IDENTITY_INSERT [AccountTypeLabor] ON
INSERT [AccountTypeLabor] ([AccountTypeLaborId], [AccountTypeServiceId], [LaborTypeId], [DefaultRate], [DefaultRateType]) VALUES (1, 1, 1, CAST(0.0000 AS Decimal(9, 4)), N'F')
INSERT [AccountTypeLabor] ([AccountTypeLaborId], [AccountTypeServiceId], [LaborTypeId], [DefaultRate], [DefaultRateType]) VALUES (3, 1, 4, CAST(0.0000 AS Decimal(9, 4)), N'F')
INSERT [AccountTypeLabor] ([AccountTypeLaborId], [AccountTypeServiceId], [LaborTypeId], [DefaultRate], [DefaultRateType]) VALUES (5, 1, 14, CAST(0.0000 AS Decimal(9, 4)), N'F')
SET IDENTITY_INSERT [AccountTypeLabor] OFF

SET IDENTITY_INSERT [Employee] ON
INSERT [Employee] ([EmployeeId], [UserId], [Name], [FirstName], [LastName], [StartDate], [Rate], [IsEmployed], [Notes], [ModifyUser], [ModifyDate]) VALUES (10, N'3641dd78-5c00-46dc-8998-704cba9875aa', N'DENIS E', NULL, NULL, NULL, CAST(1.000 AS Decimal(4, 3)), 1, NULL, N'stuart', CAST(0x00009D7600000000 AS DateTime))
INSERT [Employee] ([EmployeeId], [UserId], [Name], [FirstName], [LastName], [StartDate], [Rate], [IsEmployed], [Notes], [ModifyUser], [ModifyDate]) VALUES (25, N'0d103103-d7c7-49f0-8eae-4c3827570a7d', N'RYAN E', NULL, NULL, NULL, CAST(1.000 AS Decimal(4, 3)), 1, NULL, N'stuart', CAST(0x00009FB300000000 AS DateTime))
INSERT [Employee] ([EmployeeId], [UserId], [Name], [FirstName], [LastName], [StartDate], [Rate], [IsEmployed], [Notes], [ModifyUser], [ModifyDate]) VALUES (54, N'3bb61bde-f274-4edc-80c2-ab2db50ad890', N'STUART', NULL, NULL, CAST(0x0000806800000000 AS DateTime), CAST(0.000 AS Decimal(4, 3)), 1, NULL, N'Stuart', CAST(0x00009BE100000000 AS DateTime))
SET IDENTITY_INSERT [Employee] OFF

-- ACCOUNT DATA
SET IDENTITY_INSERT [Contact] ON
INSERT [Contact] ([ContactId], [ContactTypeId], [AccountId], [LastName], [FirstName], [ContactDetail], [DoNotify]) VALUES (2248, 2, 574, N'RUTLAND', N'JAMIE', N'9013825555', 0)
INSERT [Contact] ([ContactId], [ContactTypeId], [AccountId], [LastName], [FirstName], [ContactDetail], [DoNotify]) VALUES (2253, 2, 699, N'GUY', N'BILL', N'901-377-9504', 0)
INSERT [Contact] ([ContactId], [ContactTypeId], [AccountId], [LastName], [FirstName], [ContactDetail], [DoNotify]) VALUES (2412, 2, 2741, NULL, NULL, N'9013626364', 0)
SET IDENTITY_INSERT [Contact] OFF

SET IDENTITY_INSERT [Account] ON
INSERT [Account] ([AccountId], [AccountTypeId], [AccountNumber], [AccountName], [AddressLine1], [AddressLine2], [City], [StateCode], [PostalCode], [Notes], [ModifyUser], [ModifyDate]) VALUES (574, 1, N'01-00574', N'DOBBS FORD AT WOLFCHASE', N'7925 STAGE', NULL, N'MEMPHIS', N'TN', N'38133', NULL, N'system', CAST(0x00009CC20108CD33 AS DateTime))
INSERT [Account] ([AccountId], [AccountTypeId], [AccountNumber], [AccountName], [AddressLine1], [AddressLine2], [City], [StateCode], [PostalCode], [Notes], [ModifyUser], [ModifyDate]) VALUES (699, 1, N'01-00699', N'BILL GUY', N'CITY AUTO SALES', NULL, NULL, NULL, NULL, NULL, N'system', CAST(0x00009CC20108CD33 AS DateTime))
INSERT [Account] ([AccountId], [AccountTypeId], [AccountNumber], [AccountName], [AddressLine1], [AddressLine2], [City], [StateCode], [PostalCode], [Notes], [ModifyUser], [ModifyDate]) VALUES (2741, 1, N'01-02741', N'DOBBS FORD AT MT. MORIAH', NULL, NULL, NULL, NULL, NULL, NULL, N'system', CAST(0x00009CC20108CD33 AS DateTime))
SET IDENTITY_INSERT [Account] OFF

-- INVOICE DATA
SET IDENTITY_INSERT [Invoice] ON
INSERT [Invoice] ([InvoiceId], [LocationId], [InvoiceTypeId], [AccountId], [ServiceOrderId], [ReceiveDate], [CompleteDate], [Year], [Make], [Model], [Color], [VIN], [StockNumber], [PurchaseOrderNumber], [WorkOrderNumber], [IsComplete], [IsPaid], [TaxRate], [ModifyUser], [ModifyDate]) VALUES (358500, 2, 1, 2741, NULL, CAST(0x00009FAC010559DC AS DateTime), CAST(0x00009FB0009DFCEC AS DateTime), N'2011', N'GMC', N'SIERRA', N'BLUE', NULL, N'BZ112576', NULL, NULL, 1, 0, CAST(0.0000 AS Decimal(5, 4)), N'bruce', CAST(0x00009FB400A88568 AS DateTime))
INSERT [Invoice] ([InvoiceId], [LocationId], [InvoiceTypeId], [AccountId], [ServiceOrderId], [ReceiveDate], [CompleteDate], [Year], [Make], [Model], [Color], [VIN], [StockNumber], [PurchaseOrderNumber], [WorkOrderNumber], [IsComplete], [IsPaid], [TaxRate], [ModifyUser], [ModifyDate]) VALUES (358525, 2, 1, 2741, NULL, CAST(0x00009FAD00DAA0C0 AS DateTime), CAST(0x00009FAD00DC8E1C AS DateTime), N'2012', N'FORD', N'FUSION', N'BLUE', NULL, N'CR167495', NULL, NULL, 1, 0, CAST(0.0000 AS Decimal(5, 4)), N'bruce', CAST(0x00009FB400A89BAC AS DateTime))
INSERT [Invoice] ([InvoiceId], [LocationId], [InvoiceTypeId], [AccountId], [ServiceOrderId], [ReceiveDate], [CompleteDate], [Year], [Make], [Model], [Color], [VIN], [StockNumber], [PurchaseOrderNumber], [WorkOrderNumber], [IsComplete], [IsPaid], [TaxRate], [ModifyUser], [ModifyDate]) VALUES (358550, 2, 1, 2741, NULL, CAST(0x00009FB0009997EC AS DateTime), CAST(0x00009FB0009AB834 AS DateTime), N'2011', N'FORD', N'RANGER', N'WHITE', NULL, N'BPB16133', NULL, NULL, 1, 0, CAST(0.0000 AS Decimal(5, 4)), N'bruce', CAST(0x00009FB400924BF4 AS DateTime))
SET IDENTITY_INSERT [Invoice] OFF

SET IDENTITY_INSERT [Service] ON
INSERT [Service] ([ServiceId], [InvoiceId], [ServiceTypeId], [Rate], [EstimatedTime], [ServiceDate], [ModifyUser], [ModifyDate]) VALUES (57513, 358500, 3, CAST(165.0000 AS Decimal(12, 4)), 0, CAST(0x00009FAC00000000 AS DateTime), N'danny g', CAST(0x00009FB0009DEDB0 AS DateTime))
INSERT [Service] ([ServiceId], [InvoiceId], [ServiceTypeId], [Rate], [EstimatedTime], [ServiceDate], [ModifyUser], [ModifyDate]) VALUES (57541, 358525, 17, CAST(35.0000 AS Decimal(12, 4)), 0, CAST(0x00009FAD00000000 AS DateTime), N'danny g', CAST(0x00009FAD00DAA0C0 AS DateTime))
INSERT [Service] ([ServiceId], [InvoiceId], [ServiceTypeId], [Rate], [EstimatedTime], [ServiceDate], [ModifyUser], [ModifyDate]) VALUES (57550, 358500, 44, CAST(25.0000 AS Decimal(12, 4)), 0, CAST(0x00009FAD00000000 AS DateTime), N'danny g', CAST(0x00009FAD00F65ACC AS DateTime))
SET IDENTITY_INSERT [Service] OFF

SET IDENTITY_INSERT [Labor] ON
INSERT [Labor] ([LaborId], [InvoiceId], [EmployeeId], [LaborTypeId], [EstimatedRate], [ActualRate], [EstimatedTime], [ActualTime], [LaborDate], [ModifyUser], [ModifyDate]) VALUES (195467, 358500, 115, 14, 10.0000, 10.0000, 0, 0, CAST(0x00009FAC00000000 AS DateTime), N'danny g', CAST(0x00009FAC01058538 AS DateTime))
INSERT [Labor] ([LaborId], [InvoiceId], [EmployeeId], [LaborTypeId], [EstimatedRate], [ActualRate], [EstimatedTime], [ActualTime], [LaborDate], [ModifyUser], [ModifyDate]) VALUES (195517, 358525, 95, 3, 12.0000, 12.0000, 0, 0, CAST(0x00009FAD00000000 AS DateTime), N'danny g', CAST(0x00009FAD00DAC190 AS DateTime))
INSERT [Labor] ([LaborId], [InvoiceId], [EmployeeId], [LaborTypeId], [EstimatedRate], [ActualRate], [EstimatedTime], [ActualTime], [LaborDate], [ModifyUser], [ModifyDate]) VALUES (195551, 358500, 102, 1, 24.0000, 12.0000, 0, 0, CAST(0x00009FAD00000000 AS DateTime), N'danny g', CAST(0x00009FAD00F8055C AS DateTime))
SET IDENTITY_INSERT [Labor] OFF

-- LOG DATA
SET IDENTITY_INSERT [ErrorLog] ON
INSERT [ErrorLog] ([ErrorLogId], [InvoiceId], [ExceptionType], [Message], [StackTrace], [ModifyUser], [ModifyDate]) VALUES (984, NULL, N'System.ArgumentNullException', N'Value cannot be null.
Parameter name: You must specify a password.', N'   at EnfieldWeb.Controllers.ShopController.SignIn(Int32 employeeId, String password) in C:\Projects\EnfieldWeb\EnfieldWeb\Controllers\ShopController.cs:line 467
   at lambda_method(ExecutionScope , ControllerBase , Object[] )
   at System.Web.Mvc.ActionMethodDispatcher.Execute(ControllerBase controller, Object[] parameters)
   at System.Web.Mvc.ReflectedActionDescriptor.Execute(ControllerContext controllerContext, IDictionary`2 parameters)
   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethod(ControllerContext controllerContext, ActionDescriptor actionDescriptor, IDictionary`2 parameters)
   at System.Web.Mvc.ControllerActionInvoker.<>c__DisplayClassa.<InvokeActionMethodWithFilters>b__7()
   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethodFilter(IActionFilter filter, ActionExecutingContext preContext, Func`1 continuation)
   at System.Web.Mvc.ControllerActionInvoker.<>c__DisplayClassa.<>c__DisplayClassc.<InvokeActionMethodWithFilters>b__9()
   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethodWithFilters(ControllerContext controllerContext, IList`1 filters, ActionDescriptor actionDescriptor, IDictionary`2 parameters)
   at System.Web.Mvc.ControllerActionInvoker.InvokeAction(ControllerContext controllerContext, String actionName)', N'chris m', CAST(0x00009FBA00AB6300 AS DateTime))
INSERT [ErrorLog] ([ErrorLogId], [InvoiceId], [ExceptionType], [Message], [StackTrace], [ModifyUser], [ModifyDate]) VALUES (985, NULL, N'System.ArgumentException', N'The parameters dictionary contains a null entry for parameter ''id'' of non-nullable type ''System.Int32'' for method ''System.Web.Mvc.ActionResult NewInvoice(Int32)'' in ''EnfieldWeb.Controllers.ShopController''. To make a parameter optional its type should be either a reference type or a Nullable type.
Parameter name: parameters', N'   at System.Web.Mvc.ReflectedActionDescriptor.ExtractParameterFromDictionary(ParameterInfo parameterInfo, IDictionary`2 parameters, MethodInfo methodInfo)
   at System.Web.Mvc.ReflectedActionDescriptor.<>c__DisplayClass1.<Execute>b__0(ParameterInfo parameterInfo)
   at System.Linq.Enumerable.WhereSelectArrayIterator`2.MoveNext()
   at System.Linq.Buffer`1..ctor(IEnumerable`1 source)
   at System.Linq.Enumerable.ToArray[TSource](IEnumerable`1 source)
   at System.Web.Mvc.ReflectedActionDescriptor.Execute(ControllerContext controllerContext, IDictionary`2 parameters)
   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethod(ControllerContext controllerContext, ActionDescriptor actionDescriptor, IDictionary`2 parameters)
   at System.Web.Mvc.ControllerActionInvoker.<>c__DisplayClassa.<InvokeActionMethodWithFilters>b__7()
   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethodFilter(IActionFilter filter, ActionExecutingContext preContext, Func`1 continuation)
   at System.Web.Mvc.ControllerActionInvoker.<>c__DisplayClassa.<>c__DisplayClassc.<InvokeActionMethodWithFilters>b__9()
   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethodWithFilters(ControllerContext controllerContext, IList`1 filters, ActionDescriptor actionDescriptor, IDictionary`2 parameters)
   at System.Web.Mvc.ControllerActionInvoker.InvokeAction(ControllerContext controllerContext, String actionName)', N'danny g', CAST(0x00009FBA00B98B9C AS DateTime))
INSERT [ErrorLog] ([ErrorLogId], [InvoiceId], [ExceptionType], [Message], [StackTrace], [ModifyUser], [ModifyDate]) VALUES (988, NULL, N'System.ArgumentException', N'The parameters dictionary contains a null entry for parameter ''id'' of non-nullable type ''System.Int32'' for method ''System.Web.Mvc.ActionResult NewInvoice(Int32)'' in ''EnfieldWeb.Controllers.ShopController''. To make a parameter optional its type should be either a reference type or a Nullable type.
Parameter name: parameters', N'   at System.Web.Mvc.ReflectedActionDescriptor.ExtractParameterFromDictionary(ParameterInfo parameterInfo, IDictionary`2 parameters, MethodInfo methodInfo)
   at System.Web.Mvc.ReflectedActionDescriptor.<>c__DisplayClass1.<Execute>b__0(ParameterInfo parameterInfo)
   at System.Linq.Enumerable.WhereSelectArrayIterator`2.MoveNext()
   at System.Linq.Buffer`1..ctor(IEnumerable`1 source)
   at System.Linq.Enumerable.ToArray[TSource](IEnumerable`1 source)
   at System.Web.Mvc.ReflectedActionDescriptor.Execute(ControllerContext controllerContext, IDictionary`2 parameters)
   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethod(ControllerContext controllerContext, ActionDescriptor actionDescriptor, IDictionary`2 parameters)
   at System.Web.Mvc.ControllerActionInvoker.<>c__DisplayClassa.<InvokeActionMethodWithFilters>b__7()
   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethodFilter(IActionFilter filter, ActionExecutingContext preContext, Func`1 continuation)
   at System.Web.Mvc.ControllerActionInvoker.<>c__DisplayClassa.<>c__DisplayClassc.<InvokeActionMethodWithFilters>b__9()
   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethodWithFilters(ControllerContext controllerContext, IList`1 filters, ActionDescriptor actionDescriptor, IDictionary`2 parameters)
   at System.Web.Mvc.ControllerActionInvoker.InvokeAction(ControllerContext controllerContext, String actionName)', N'danny g', CAST(0x00009FBB00939EA0 AS DateTime))
INSERT [ErrorLog] ([ErrorLogId], [InvoiceId], [ExceptionType], [Message], [StackTrace], [ModifyUser], [ModifyDate]) VALUES (989, NULL, N'Castle.ActiveRecord.Framework.ActiveRecordException', N'Could not perform Save for Invoice', N'   at Castle.ActiveRecord.ActiveRecordBase.InternalSave(Object instance, Boolean flush) in c:\Projects\CastleTrunk\ActiveRecord\Castle.ActiveRecord\Framework\ActiveRecordBase.cs:line 594
   at Castle.ActiveRecord.ActiveRecordBase.SaveAndFlush(Object instance) in c:\Projects\CastleTrunk\ActiveRecord\Castle.ActiveRecord\Framework\ActiveRecordBase.cs:line 517
   at Castle.ActiveRecord.ActiveRecordBase.SaveAndFlush() in c:\Projects\CastleTrunk\ActiveRecord\Castle.ActiveRecord\Framework\ActiveRecordBase.cs:line 1429
   at EnfieldWeb.Models.DetailRepository.SaveInvoice(Invoice invoice) in C:\Projects\EnfieldWeb\EnfieldWeb\Models\DetailRepository.cs:line 398
   at EnfieldWeb.Controllers.ShopController.DeleteLabor(Int32 invoiceId, Int32 laborId) in C:\Projects\EnfieldWeb\EnfieldWeb\Controllers\ShopController.cs:line 381
   at lambda_method(ExecutionScope , ControllerBase , Object[] )
   at System.Web.Mvc.ActionMethodDispatcher.Execute(ControllerBase controller, Object[] parameters)
   at System.Web.Mvc.ReflectedActionDescriptor.Execute(ControllerContext controllerContext, IDictionary`2 parameters)
   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethod(ControllerContext controllerContext, ActionDescriptor actionDescriptor, IDictionary`2 parameters)
   at System.Web.Mvc.ControllerActionInvoker.<>c__DisplayClassa.<InvokeActionMethodWithFilters>b__7()
   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethodFilter(IActionFilter filter, ActionExecutingContext preContext, Func`1 continuation)
   at System.Web.Mvc.ControllerActionInvoker.<>c__DisplayClassa.<>c__DisplayClassc.<InvokeActionMethodWithFilters>b__9()
   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethodWithFilters(ControllerContext controllerContext, IList`1 filters, ActionDescriptor actionDescriptor, IDictionary`2 parameters)
   at System.Web.Mvc.ControllerActionInvoker.InvokeAction(ControllerContext controllerContext, String actionName)', N'danny g', CAST(0x00009FBB00E75964 AS DateTime))
SET IDENTITY_INSERT [ErrorLog] OFF

SET IDENTITY_INSERT [EmployeeLog] ON
INSERT [EmployeeLog] ([EmployeeLogId], [EmployeeId], [SignInDate], [SignOutDate]) VALUES (6631, 10, CAST(0x00009FAC005D58E0 AS DateTime), NULL)
INSERT [EmployeeLog] ([EmployeeLogId], [EmployeeId], [SignInDate], [SignOutDate]) VALUES (6634, 113, CAST(0x00009FAC0074C688 AS DateTime), NULL)
INSERT [EmployeeLog] ([EmployeeLogId], [EmployeeId], [SignInDate], [SignOutDate]) VALUES (6636, 110, CAST(0x00009FAC0085D040 AS DateTime), NULL)
SET IDENTITY_INSERT [EmployeeLog] OFF

SET IDENTITY_INSERT [LoginAttemptLog] ON
INSERT [LoginAttemptLog] ([LoginAttemptId], [LoginDate], [ResultFlag], [LocationId], [IpAddress], [UserName], [Reason]) VALUES (5365, CAST(0x00009FAC005D44F4 AS DateTime), 1, 1, N'75.64.19.31', N'chris m', NULL)
INSERT [LoginAttemptLog] ([LoginAttemptId], [LoginDate], [ResultFlag], [LocationId], [IpAddress], [UserName], [Reason]) VALUES (5366, CAST(0x00009FAC0071BB3C AS DateTime), 1, 1, N'75.64.19.31', N'chris m', NULL)
INSERT [LoginAttemptLog] ([LoginAttemptId], [LoginDate], [ResultFlag], [LocationId], [IpAddress], [UserName], [Reason]) VALUES (5367, CAST(0x00009FAC00748038 AS DateTime), 1, 1, N'75.64.19.31', N'chris m', NULL)
SET IDENTITY_INSERT [LoginAttemptLog] OFF

GO

USE [EnfieldMasterTestBed]
GO

INSERT INTO [dbo].[StockNumberHistory]
           ([StockNumber]
           ,[InvoiceId]
           ,[Note]
           ,[ModifyUser]
           ,[ModifyDate])
SELECT 
	 StockNumber
	,InvoiceId
	,Note
	,ModifyUser
	,ModifyDate
FROM EnfieldMaster.dbo.StockNumberHistory
WHERE InvoiceId IN (
	SELECT InvoiceId FROM Invoice
)

GO