@{
    ViewBag.Title = "Enfield's Detail: Services";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section BeautyShot {
    <img class="beauty-shot-image" alt="Enfield's Detail Polish" src="@Url.Content("~/Content/images/enfields-22.jpg")" />
}
<div>
    <h1>Services</h1>
    <p>The professionals at Enfield's Detail provide a variety of services to meet the needs of any vehicle. Services include:</p>
    <p>COMPLETE DETAILING - SCOTCHGARD - CARPET SHAMPOO - LEATHER SEAT CLEANING - ODOR CONTROL - ACID RAIN REMOVAL - WAXING - BUFFING - ENGINE DEGREASING - and more...</p>
    <p>*Because the condition and size of vehicles vary, we can only give you an accurate price estimate following a visual inspection of your vehicle. Stop by today for a free estimate.</p>
</div>